/* обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
li,
ol {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
h1 {
  font-size: 35px;
  line-height: 1.2857142;
  color: #545454;
  letter-spacing: 0.06em;
}
h2 {
  font-size: 35px;
  line-height: 1.2857142;
  color: #545454;
  letter-spacing: 0.06em;
}
::-webkit-scrollbar {
  width: 0px;
}
html,
body {
  line-height: 1;
  height: 100%;
}
body {
  font-family: Arial;
  font-size: 15px;
  line-height: 1.6;
}
body.locked {
  overflow: hidden;
}
html {
  scroll-behavior: smooth;
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}
.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1280px;
  padding: 0 clamp(1.875rem, 0.9375rem + 1.9531vw, 2.5rem);
  margin: 0 auto;
}
[class*="__rounded-button"] {
  display: inline-block;
  border-radius: 100px;
  padding: 13px 43px;
  border: 2px solid var(--accent);
  font-family: Georgia;
  text-align: center;
  font-size: 17px;
  line-height: 1.3;
  color: #292929;
  transition: 0.4s ease;
  letter-spacing: 0.06em;
}
[class*="__rounded-button"]:hover {
  background-color: #fddcc4;
  border-color: #fddcc4;
}
.filled {
  background-color: var(--accent);
}
.title {
  font-family: Georgia;
}
.section-padding {
  padding: 80px 0 clamp(4.375rem, 1.5625rem + 5.8594vw, 6.25rem) 0;
}
:root {
  --accent: #f1cdb3;
}
.link-inactive {
  cursor: default;
}
/* ---------------- Header ----------------- */

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
.header__container {
  display: flex;
  min-height: 60px;
  margin: 30px auto;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.logo-title {
  color: #545454;
  letter-spacing: 0.06em;
  line-height: 1.1;
  text-align: center;
  font-size: 32px;
}
.logo-text {
  color: #292929;
  letter-spacing: 0.1em;
  font-size: 13px;
  font-family: Arial;
  line-height: 1.153846;
  text-align: center;
}

/* Menu */
.burger__menu {
  display: none;
  cursor: pointer;
}
.header__menu {
  flex: 1 1 auto;
}
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu__list {
  display: flex;
  gap: 35px;
}
.menu__link {
  line-height: 1.6;
  color: #545454;
  transition: 0.4s ease;
}
.menu__link.active {
  color: #292929;
  border-bottom: 3px solid #f1cdb3;
}
.menu__link:hover {
  color: #292929;
}

/*  Our friends */

.our-friends {
  margin-top: 120px;
  background-color: #f6f6f6;
}
.our-friends__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-friends__title {
  max-width: 400px;
  text-align: center;
}
.our-friends__content {
  display: flex;
  flex-direction: row;
  gap: 53px;
  align-items: center;
}
.card__carouselle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 40px;
  margin: clamp(1.875rem, -0.9375rem + 5.8594vw, 3.75rem) 0
    clamp(2.5rem, 0.625rem + 3.9063vw, 3.75rem) 0;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  border-radius: 9px;
  transition: 0.4s ease;
}
.card:hover > .card__content > .card__rounded-button {
  background-color: #fddcc4;
  border-color: #fddcc4;
}
.card:hover {
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.card__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding: 30px 0;
}
.card__name {
  font-size: 20px;
  font-family: Georgia;
  line-height: 1.15;
  letter-spacing: 0.06em;
}
.friend-navigation-buttons__box {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.arrow-background {
  transition: 0.4s ease-in-out;
}
.arrow-button:hover > .arrow-background {
  stroke: #fddcc4;
  fill: #fddcc4;
}
.friends-navigation__button.active {
  cursor: pointer;
}

/* footer */

.footer {
  background:
    url(noise_lines_transparent@2X.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
}
.footer__container {
  display: flex;
  flex-direction: row;
  column-gap: clamp(3.75rem, -5.625rem + 19.5313vw, 10rem);
  row-gap: 65px;
  padding-top: clamp(1.875rem, 0.9375rem + 1.9531vw, 2.5rem);
  flex-wrap: wrap;
  justify-content: center;
}
.footer__text-box {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: clamp(0rem, -1.5rem + 3.125vw, 1rem);
}
.footer__text-box:nth-child(1) {
  gap: 40px;
}
.footer__title {
  color: #ffffff;
}
.footer__title:nth-child(1) {
  width: 279px;
}
.footer__title:nth-child(2) {
  width: 302px;
}
.footer__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  line-height: 1.15;
  color: var(--accent);
  font-family: Georgia;
  letter-spacing: 0.06em;
  transition: 0.4s ease;
}

.footer__info:hover {
  color: #fddcc4;
}

/* ---- modal ---- */

.modal__wrapper {
  display: none;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #1a1a1c50;
  padding: 30px;
}

.modal__wrapper.open {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
  max-width: 900px;
  background-color: #fafafa;
  padding: 20px;
  border-radius: 10px;
  font-family: Georgia;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

#modal__image {
  display: flex;
  width: 350px;
  height: 350px;
}

.modal__info-wrapper {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.modal__heading-3 {
  font-weight: 500;
  font-size: 35px;
  line-height: 130%;
}

.modal__heading-4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 115%;
}

#modal__close {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 100px;
  padding: 20px;
  border: 2px solid #fddcc4;
}
#modal__close img {
  display: block;
}

/* Media */

@media (max-width: 958px) {
  .card:nth-child(7) {
    display: none;
  }
  .card:nth-child(8) {
    display: none;
  }
}
@media (max-width: 768px) {
  [class*="__container"] {
    padding: 0 clamp(0.625rem, -0.2679rem + 4.4643vw, 1.875rem);
  }
  .header__container {
    padding: 0 clamp(1.25rem, 0.8036rem + 2.2321vw, 1.875rem);
  }
  .logo-title.title {
    font-size: 32px;
  }

  .bg__shadowing {
    display: block;
    position: fixed;
    top: 0;
    right: 0%;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(41, 41, 41, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s ease-in-out;
  }
  .header__menu {
    position: fixed;
    z-index: 2;
    top: 0;
    right: -100%;
    background-color: #292929;
    width: 320px;
    height: 100vh;
    justify-content: center;
    align-items: baseline;
    transition: 0.4s ease-in-out;
  }
  body .header__menu.active {
    overflow: hidden;
  }
  .header__menu.active {
    right: 0;
  }
  .bg__shadowing.active {
    visibility: visible;
    opacity: 1;
  }
  .menu__list {
    flex-direction: column;
    gap: 40px;
    margin-top: 248px;
  }
  .menu__item {
    text-align: center;
    font-size: 32px;
    line-height: 160%;
  }
  .menu__link {
    color: #cdcdcd;
  }
  .menu__link:hover {
    color: #fafafa;
  }
  .menu__link.active {
    color: #fafafa;
  }
  .burger__menu {
    display: flex;
    align-items: center;
    transition: 0.4s ease-in-out;
  }
  .burger__menu > svg > line {
    transition: 0.4s ease-in-out;
  }
  .burger__menu.active > svg > line {
    stroke: #f1cdb3;
  }
  .burger__menu.active {
    position: fixed;
    right: 20px;
    top: 45px;
    z-index: 3;
    transform: rotate(90deg);
  }

  .title {
    font-size: clamp(1.5625rem, 1.1161rem + 2.2321vw, 2.1875rem);
  }
  .section-padding {
    padding: clamp(2.625rem, 0.9286rem + 8.4821vw, 5rem) 0;
  }
  .card__carouselle {
    margin: 42px 0;
  }
  .friend-navigation-buttons__box {
    gap: clamp(0.625rem, 0.1786rem + 2.2321vw, 1.25rem);
  }
  .footer__text-box {
    text-align: center;
    align-items: center;
    gap: 40px;
  }
  .footer__container {
    padding-top: 30px;
  }
  .footer__text-box:nth-child(2) {
    align-items: baseline;
  }
  .footer__container {
    gap: clamp(2.5rem, 1.6071rem + 4.4643vw, 3.75rem);
  }
  .foooter__image > img {
    width: clamp(16.25rem, 14.4643rem + 8.9286vw, 18.75rem);
  }
  .burger__menu {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .card:nth-child(4),
  .card:nth-child(5),
  .card:nth-child(6) {
    display: none;
  }
}
